@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');

/* RESET */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font: inherit;
}

/* VARIABLES */

:root {

    /* FONTS */

    --FF: "Nunito", sans-serif;
    --FF-HEADINGS: "Fugaz One", cursive;
    --FS: clamp(1rem, 2.2vh, 1, 1.5rem);

    /* COLORS */
    --BGCOLOR: orange;
    --BGCOLOR-FADE: rgb(252, 220, 160);
    --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
    --BODY-BGCOLOR: #fff;
    --FONT-COLOR: #000;
    --BORDER-COLOR: #333;
    --HIGHLIGHT-COLOR: rgb(51, 178, 51);
    --LINK-COLOR: #000;
    --LINK-HOVER: hsla(0, 0%, 0%, 0.6);
    --LINK-ACTIVE: orange;
    --HEADER-BGCOLOR: #000;
    --HEADER-COLOR: #FFF;
    --NAV-BGCOLOR: #FFF;
    --HERO-BGCOLOR: rgba(51, 178, 51, 0.75);
    --HERO-COLOR: #FFF;

    /* BORDERS */
    --BORDERS: 1px solid var(--BORDER-COLOR);

    /* STANDARD PADDING */
    --PADDING-TOP-BOTTOM: 0.25em;
    --PADDING-SIDE: 2.5%;

    /* STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}


/* UTILITY CLASSES */

.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

/* GENERAL STYLES */

html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BGCOLOR);
    background-image: var(--BGIMAGE);
}

body {
    background-color: var(--BODY-BGCOLOR);
    color: var(--FONT-COLOR);
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    border-left: var(--BORDERS);
    border-right: var(--BORDERS);
    box-shadow: 0 0 20px var(--BORDER-COLOR);
}

h1,
h2,
h3 {
    font-family: var(--FF-HEADINGS);
    letter-spacing: 0.1em;
}

h2,
h3 {
    margin-bottom: 1em;
    color: var(--HIGHLIGHT-COLOR);
}

p {
    line-height: 1.5;
}

a:any-link {
    color: var(--LINK-COLOR);
    text-decoration: none;
}

a:hover,
a:focus-visible {
    color: var(--LINK-HOVER);
}

a:active {
    color: var(--LINK-ACTIVE);
}

/* HEADER */

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header_h1 {
    text-align: center;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    padding: var(--PADDING-TOP-BOTTOM) var(--PADDING-SIDE);
}

.header_nav {
    background-color: var(--NAV-BGCOLOR);
    border-bottom: var(--BORDERS);
    font-weight: bold;
    box-shadow: 0 6px 5px -5px var(--BORDER-COLOR);
}

.header_ul {
    padding: var(--PADDING-TOP-BOTTOM) var(--PADDING-SIDE);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

/* HERO */

.hero {
    position: relative;
}

.hero_h2 {
    background-color: var(--HERO-BGCOLOR);
    color: var(--HERO-COLOR);
    padding: 0.25em 0.5em;
    letter-spacing: 0.1rem;
    text-shadow: 3px 3px 5px var(--BORDER-COLOR);
    position: absolute;
    top: -100px;
    left: 20px;
    animation: showWelcome 0.5s ease-in-out 1s forwards;
}

@keyframes showWelcome {
    0% {
        top: -20px;
        transform: skew(0deg, -5deg) scaleY(0);
    }

    80% {
        top: 30px;
        transform: skew(10deg, -5deg) scaleY(1.2);
    }

    100% {
        top: 20px;
        transform: skew(-10deg, -5deg) scaleY(1);
    }
}

/* FOOTER */

.footer {
    position: sticky;
    bottom: 0;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    text-align: center;
    padding: var(--PADDING-TOP-BOTTOM) var(--PADDING-SIDE);
}

/* MAIN */

.main {
    padding: var(--PADDING-TOP-BOTTOM) var(--PADDING-SIDE);
}

.main_article {
    scroll-margin-top: 6.5rem;
    margin: var(--MARGIN);
}

.main_article:first-child {
    margin-top: 1em;
}

.main_article:last-child {
    min-height: calc(100vh - 20px);
}


/* ABOUT */

.about_trivia {
    margin: var(--MARGIN);
}

.about_trivia-answer {
    margin-top: 1em;
}


/* CONTACT FORM */

.contact_h2 {
    margin: 0;
}

.contact_fieldset {
    border: none
}

.contact_p {
    margin: 1em 0;
}

.contact_label {
    display: block;
    font-weight: bold;
}

.contact_input,
.contact_textarea {
    padding: 0.5em;
    border-radius: 15px;
    border-width: 2px;
    width: 100%;
}

.contact_button{
    background-color: var(--HIGHLIGHT-COLOR);
    color: var(--HEADER-COLOR);
    border-radius: 15px;
    padding: 0.5em;
    max-width: 50%;
    width: 25%;
}

.contact_button:first-child{
    background-color: var(--HIGHLIGHT-COLOR);
}

.contact_button:last-child{
    background-color: rgb(238, 177, 24);
}

